<div class="container ">
    <div class="col-6 ">
        <div class="card mb-4 box-shadow">
            <div id="img">
                <% if post.user.image.attached?%>
                  <%= image_tag url_for(post.user.image), class:"rounded-circle z-depth-2", alt:"100x100" %> <%= post.user.firstname%>
                <% else %>
                  <%= image_tag 'empty',  class:"rounded-circle z-depth-2", alt:"100x100"  %><%= post.user.firstname%>
                <% end %>
            </div>
            <div id="carouselIndicators<%=post.id%>" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators" >
                  <% post.images.size.times do |i| %>
                    <li data-target="#carouselIndicators<%=post.id%>" data-slide-to="<%= i %>" class="<%= "active" if i.zero? %>"></li>
                  <% end %>
                </ol>
                <div class="carousel-inner">
                  <% post.images.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= "active" if index.zero? %>">
                      <%= image_tag url_for(photo) %>
                    </div>
                  <% end %>
                </div>
            </div>
            <div class="card-body" >
                <p class="card-text">  <%= post.content%></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group" id="post-likes<%=post.id%>">
                      <%= render partial: 'likes/likes', locals: {post: post} %>
                    </div>
                </div>
                    <p id="post<%=post.id%>">likes <%= post.like.count%></p>
                    <div id="post-comments-<%= post.id %>">
                      <div class="comments " id="comments<%=post.id%>">
                        <%= render partial: 'comments/comments', locals: {post: post, as: :post} %>
                      </div>
                    </div>
              <%= render partial: 'comments/comment_body', locals: {post: post} %>
            </div>            
        </div>
    </div>
</div>