 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 

 
   <% if user_signed_in?%>
    <div class="btn-group">
      <button type="button" class="btn btn-secoundry dropdown-toggle" id="text" data-bs-toggle="dropdown" aria-expanded="false">
        menu
      </button>
      <ul class="dropdown-menu">
       <li><a class="dropdown-item" > <%= link_to 'home ',  post_index_path ,:class=> "btn" %></a></li>
        <li><a class="dropdown-item" ><%= link_to 'Create New Post', new_post_path ,:class=> "btn" %></a></li>
        <li><a class="dropdown-item"><%= link_to 'Create New story', new_story_path ,:class=> "btn" %></a></li>
        <li><a class="dropdown-item"> <%= link_to 'profile ', user_index_path ,:class=> "btn" %></a></li>
        <li><hr class="dropdown-divider"><%= link_to 'log out', destroy_user_session_path , method: :delete ,:class=> "btn" %> </li>
      </ul>
    </div>
     <% else %>
       <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        menu
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" > <%= link_to 'login', new_user_session_path, :class => "btn" %> </a></li>
        <li><a class="dropdown-item"><%= link_to 'sign up', new_user_registration_path, :class => "btn"%> </a></li>

      </ul>
    </div>
       
    <%end%>

    <% if user_signed_in?%>
      <form class="form-inline my-2 my-lg-0" action="/search" mathod="POST">
      <input class="form-control mr-sm-2" name="q" type="search"  placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <% end %>
    
  </div>
  
</nav>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>